/* Structure */
table {
    width: 100%;
}
  
.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

.client-component {
    display: flex;
    margin: 1rem;
    justify-content: space-evenly;
}

.table-list-clients {
    margin: 1rem;
}

.img-client {
    width: 43px;
    border-radius: 50%;
}