/* Structure */
table {
    width: 100%;
}
  
.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

.client-details {
    margin: 1rem;
}

.client-card {
    margin-bottom: 1rem;
}

.client-card-header {
    margin-left: 1rem;
    margin-top: 1rem;
}

.client-card-content {
    margin-top: 2rem;
}

.img-enterprises {
    width: 50px;
    border-radius: 50%;
}

.client-card-title {
    margin-left: 1rem;
    margin-top: 1rem;
}